

.header{
    background-image: url("./imgs/background-header.svg");
    display:flex;
    align-items: center;
    flex-direction: row-reverse;
    background-size: cover;
    height:50px;
    width:100%;
}
.header h1{
    color: #CA1818;
    font-size: 1.2rem;
    justify-self: end;
    font-family: "Rakkas";
    text-align: center;
    width:100%;
}
@media(min-width:900px){
    .header {
        flex-wrap: wrap;
        height: 100px;
        flex-direction: column;
        justify-content: space-between;
    }
    .header h1{
        margin-top:15px;
    }
}

