.content{
    padding: 1rem;
}
.content > article{
    display:flex;
    overflow-x: scroll;
    min-height:305px;
}
.content > h2{
    color:#CA1818;

}

@media(max-width:500px){
    .content > article{
        min-height:230px;
    }
}