.header .bslistIcon{
    width:50px;
    height:50px;
    color:#CA1818;
}
.header .navbar-mobile{
    background:white;
    width:50px;
    height:50px;
    transition: 1s;
    
}

.header .open { 
    width:150px;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    display:flex;
    flex-direction: column;
    background: #CA1818;
}
.header .navbar-mobile .exitIcon{
    position:absolute;
    left:150px;
    right:0;
    height:50px;
    width:50px;
    background:white;
    border:1px solid black;
    transition: 1s;
}

